body {
    margin: 0;
    background-color: #26262B;
    font-family: 'Yanone Kaffeesatz', 'ABeeZee', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
}