.header {
    padding: 17px 0 21px 0;
}
.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.header__logo span {
    color: #E6C3A5;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.header__nav {
    display: flex;
    column-gap: 40px;
    align-items: center;
    color: white;
    font-family: ABeeZee, sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.9px;
}

.buttonLogin {
    border: 1px white solid;
    padding: 6.5px 23px 6.5px 23px;
    border-radius: 10px;
}
