.container__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    height: 530px;
    border: 1px white solid;
    border-radius: 25px;
}

.container__rating ul li:last-child {
    border-bottom: none;
}

.text {
    color: white;
    padding: 10px 0 10px 0;
    font-size: 26px;
    line-height: 45px;
    letter-spacing: 1px;
}

.container__athlete {
    display: flex;
    width: 100%;
    color: #FFF;
    column-gap: 10px;
    justify-content:space-between ;
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 173.077% */
    letter-spacing: 1px;
    border-bottom: 1px solid white;
}

.index{
    width: 18px;
}

.fullName {
    width: 200px;
}

